Repository godotengine/godot-cpp, pull requests merged in 2024-12, with the labels that each got.

#1616 Don't print an error when decoding a null Ref<T>
  include/godot_cpp/classes/ref.hpp
Labels: bug, cherrypick:4.2, cherrypick:4.3

#1663 CMake: Fix selection of MSVC Runtime compile flags
  cmake/windows.cmake
Labels: bug, cmake

#1660 CMake: Replace empty ${EXCLUDE} variable with EXCLUDE_FROM_ALL
  cmake/godotcpp.cmake
Labels: bug, cmake

#1648 CMake: Handle GODOT_DEV_BUILD flag
  CMakeLists.txt
  cmake/common_compiler_flags.cmake
  cmake/godotcpp.cmake
  cmake/windows.cmake
  doc/cmake.rst
  test/CMakeLists.txt
Labels: cmake, topic:buildsystem

#1651 CMake: Enable using clang-cl on windows
  CMakeLists.txt
  cmake/common_compiler_flags.cmake
Labels: cmake, topic:buildsystem

#1656 Add a separate setup-godot-cpp github action.
  .github/actions/setup-godot-cpp/action.yml
  .github/workflows/ci.yml
Labels: enhancement, topic:buildsystem

#1666 Add a method to set the class icon
  gdextension/gdextension_interface.h
  include/godot_cpp/core/class_db.hpp
Labels: enhancement, topic:gdextension
