Repository godotengine/godot-cpp, pull requests merged in 2025-02, with the labels that each got.

#1708 CMake: Fix unknown architecture and simplify OSX_ARCHITECTURES
  cmake/godotcpp.cmake
  cmake/macos.cmake
Labels: bug, cmake, topic:buildsystem

#1709 CMake: Create destination folder for doc_source.cpp generation
  cmake/GodotCPPModule.cmake
Labels: cmake, topic:buildsystem

#1713 Style: Replace `_NO_DISCARD_` macro with `[[nodiscard]]`
  include/godot_cpp/core/defs.hpp
  include/godot_cpp/variant/aabb.hpp
  include/godot_cpp/variant/basis.hpp
  include/godot_cpp/variant/color.hpp
  include/godot_cpp/variant/plane.hpp
  include/godot_cpp/variant/projection.hpp
  include/godot_cpp/variant/quaternion.hpp
  include/godot_cpp/variant/rect2.hpp
  include/godot_cpp/variant/rect2i.hpp
  include/godot_cpp/variant/transform2d.hpp
  include/godot_cpp/variant/transform3d.hpp
  include/godot_cpp/variant/vector2.hpp
  include/godot_cpp/variant/vector2i.hpp
  include/godot_cpp/variant/vector3.hpp
  include/godot_cpp/variant/vector3i.hpp
  include/godot_cpp/variant/vector4.hpp
  include/godot_cpp/variant/vector4i.hpp
Labels: enhancement
