Repository godotengine/godot-cpp, pull requests merged in 2025-03, with the labels that each got.

#1719 Update `GDVIRTUAL*()` macros to match Godot 4.4
  binding_generator.py
  include/godot_cpp/classes/wrapped.hpp
Labels: enhancement

#1721 CMake: Rename all GODOT_ to GODOTCPP_
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/GodotCPPModule.cmake
  cmake/common_compiler_flags.cmake
  cmake/godotcpp.cmake
  cmake/windows.cmake
  doc/cmake.rst
  test/CMakeLists.txt
Labels: enhancement

#1722 CMake: Pre-Commit Hook to Gersemi for auto-formatting
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/GodotCPPModule.cmake
  cmake/android.cmake
  cmake/common_compiler_flags.cmake
  cmake/emsdkHack.cmake
  cmake/godotcpp.cmake
  cmake/ios.cmake
  cmake/linux.cmake
  cmake/macos.cmake
  cmake/web.cmake
  cmake/windows.cmake
  test/CMakeLists.txt
Labels: cmake, topic:buildsystem, cherrypick:4.4

#1728 CMake: template_debug as default target when godot-cpp is top level
  CMakeLists.txt
  cmake/godotcpp.cmake
Labels: cmake, topic:buildsystem, cherrypick:4.4

#1723 CMake: Comment Cleanup
  CMakeLists.txt
  cmake/android.cmake
  cmake/common_compiler_flags.cmake
  cmake/emsdkHack.cmake
  cmake/godotcpp.cmake
  cmake/ios.cmake
  cmake/linux.cmake
  cmake/macos.cmake
  cmake/web.cmake
  cmake/windows.cmake
  doc/cmake.rst
Labels: cmake, topic:buildsystem, cherrypick:4.4

#1738 Remove unnecessary forced -fno-exceptions for web builds
  cmake/web.cmake
Labels: bug, cmake

#1733 CMake: Revert to single cmake target
  .github/workflows/ci.yml
  cmake/android.cmake
  cmake/common_compiler_flags.cmake
  cmake/godotcpp.cmake
  cmake/ios.cmake
  cmake/linux.cmake
  cmake/macos.cmake
  cmake/web.cmake
  cmake/windows.cmake
  doc/cmake.rst
  test/CMakeLists.txt
Labels: usability, cmake

#1704 Fix -Wmissing-braces warning (included in -Wall) in array constructor for generated function call bindings
  binding_generator.py
Labels: bug

#1730 CMake: XCode dependency chain fixes
  cmake/GodotCPPModule.cmake
  cmake/godotcpp.cmake
  test/CMakeLists.txt
Labels: bug, cmake, cherrypick:4.4

#1740 CMake: public/private flags
  cmake/common_compiler_flags.cmake
Labels: cmake, topic:buildsystem, cherrypick:4.4

#1715 Synchronize most shared variant code with Godot 4.4
  include/godot_cpp/core/math.hpp
  include/godot_cpp/variant/aabb.hpp
  include/godot_cpp/variant/basis.hpp
  include/godot_cpp/variant/char_range.inc.hpp
  include/godot_cpp/variant/char_utils.hpp
  include/godot_cpp/variant/color.hpp
  include/godot_cpp/variant/color_names.inc.hpp
  include/godot_cpp/variant/plane.hpp
  include/godot_cpp/variant/projection.hpp
  include/godot_cpp/variant/quaternion.hpp
  include/godot_cpp/variant/rect2.hpp
  include/godot_cpp/variant/rect2i.hpp
  include/godot_cpp/variant/transform2d.hpp
  include/godot_cpp/variant/transform3d.hpp
  include/godot_cpp/variant/vector2.hpp
  include/godot_cpp/variant/vector2i.hpp
  include/godot_cpp/variant/vector3.hpp
  include/godot_cpp/variant/vector3i.hpp
  include/godot_cpp/variant/vector4.hpp
  include/godot_cpp/variant/vector4i.hpp
  src/variant/aabb.cpp
  src/variant/basis.cpp
  src/variant/color.cpp
  src/variant/plane.cpp
  src/variant/projection.cpp
  src/variant/quaternion.cpp
  src/variant/rect2.cpp
  src/variant/transform2d.cpp
  src/variant/transform3d.cpp
  src/variant/vector2.cpp
  src/variant/vector2i.cpp
  src/variant/vector3.cpp
  src/variant/vector3i.cpp
  src/variant/vector4.cpp
  src/variant/vector4i.cpp
Labels: enhancement

#1718 Synchronize most shared template code with Godot 4.4
  include/godot_cpp/templates/cowdata.hpp
  include/godot_cpp/templates/hash_map.hpp
  include/godot_cpp/templates/hash_set.hpp
  include/godot_cpp/templates/hashfuncs.hpp
  include/godot_cpp/templates/list.hpp
  include/godot_cpp/templates/local_vector.hpp
  include/godot_cpp/templates/pair.hpp
  include/godot_cpp/templates/rb_map.hpp
  include/godot_cpp/templates/rb_set.hpp
  include/godot_cpp/templates/safe_refcount.hpp
  include/godot_cpp/templates/search_array.hpp
  include/godot_cpp/templates/self_list.hpp
  include/godot_cpp/templates/sort_array.hpp
  include/godot_cpp/templates/vector.hpp
  include/godot_cpp/templates/vmap.hpp
  include/godot_cpp/templates/vset.hpp
Labels: enhancement

#1744 Cherry-picks for the godot-cpp 4.3 branch - 4th batch
  .github/workflows/ci.yml
  binding_generator.py
  include/godot_cpp/core/defs.hpp
  include/godot_cpp/variant/aabb.hpp
  include/godot_cpp/variant/basis.hpp
  include/godot_cpp/variant/color.hpp
  include/godot_cpp/variant/plane.hpp
  include/godot_cpp/variant/projection.hpp
  include/godot_cpp/variant/quaternion.hpp
  include/godot_cpp/variant/rect2.hpp
  include/godot_cpp/variant/rect2i.hpp
  include/godot_cpp/variant/transform2d.hpp
  include/godot_cpp/variant/transform3d.hpp
  include/godot_cpp/variant/vector2.hpp
  include/godot_cpp/variant/vector2i.hpp
  include/godot_cpp/variant/vector3.hpp
  include/godot_cpp/variant/vector3i.hpp
  include/godot_cpp/variant/vector4.hpp
  include/godot_cpp/variant/vector4i.hpp
  misc/scripts/check_get_file_list.py
  tools/godotcpp.py
Labels: bug, enhancement

#1745 Cherry-picks for the godot-cpp 4.4 branch - 1st batch
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  binding_generator.py
  cmake/GodotCPPModule.cmake
  cmake/android.cmake
  cmake/common_compiler_flags.cmake
  cmake/emsdkHack.cmake
  cmake/godotcpp.cmake
  cmake/ios.cmake
  cmake/linux.cmake
  cmake/macos.cmake
  cmake/web.cmake
  cmake/windows.cmake
  doc/cmake.rst
  misc/scripts/check_get_file_list.py
  test/CMakeLists.txt
  tools/godotcpp.py
Labels: bug, enhancement
